################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section13/Project1/.vs/Project1/FileContentIndex
/Section13/Project1/.vs/Project1/v17/.suo
/Section13/Project1/.vs/Project1/v17/Browse.VC.db
/Section13/Project1/.vs/Project1/v17/Browse.VC.db-shm
/Section13/Project1/.vs/Project1/v17/Browse.VC.db-wal
/Section13/Project1/.vs/Project1/v17/Browse.VC.opendb
/Section13/Project1/.vs/Project1/v17/DocumentLayout.backup.json
/Section13/Project1/.vs/Project1/v17/DocumentLayout.json
/Section13/Project1/.vs/Project1/v17/ipch/AutoPCH/3e11b2d8780c5d6e
/Section13/Project1/.vs/Project1/v17/ipch/AutoPCH/3e11b2d8780c5d6e/MAIN.ipch
/Section13/Project1/.vs/Project1/v17/ipch/AutoPCH/df19ad347567f02f
/Section13/Project1/.vs/Project1/v17/ipch/AutoPCH/df19ad347567f02f/ACCOUNTS.ipch
/Section13/Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/Cl.items.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/link.secondary.1.tlog
/Section13/Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
/.vs/C-Refresh/FileContentIndex/2e4d233d-d13a-42cf-a6c8-f8c4ce838d62.vsidx
/.vs/C-Refresh/FileContentIndex/edb73601-25a9-4339-9d32-d3f284b37f1f.vsidx
/.vs/C-Refresh/FileContentIndex/f631d828-35b2-4e1c-974f-859ef14826c0.vsidx
/.vs/C-Refresh/v17/ipch/AutoPCH/ad7eb0bc3725a6f8/MAIN.ipch
/.vs/C-Refresh/v17/.wsuo
/.vs/C-Refresh/v17/Browse.VC.db
/.vs/C-Refresh/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/Section13/Project2/.vs/Project2/v17/Browse.VC.db
/Section13/Project2/.vs/Project2/v17/Browse.VC.db-shm
/Section13/Project2/.vs/Project2/v17/Browse.VC.db-wal
/Section13/Project2/.vs/Project2/v17/Browse.VC.opendb
/Section13/Project2/Project2.sln
/Section13/Project2/Project2.vcxproj
/Section13/Project2/Project2.vcxproj.filters
/Section13/Project2/Project2.vcxproj.user
